#property('summary', 'Create new virt [2019-02-26 10:00]')

#typedef('ServiceParams')
	#param($protocol,'string','defaultValue=http','values=http,https,basic-slb,ftp,ssh,ldap')
	#param($port,'int','defaultValue=80', 'required=true')
	#param($persistency, 'string','defaultValue=dis','values=dis,clientip,cookie')
    #param($pip_address,'ip','defaultValue=0.0.0.0')
	#param($group,'string', 'required=true')
    #param($dbind,'string','defaultValue=disable','values=enable,disable,forceproxy', 'required=true')
#end
#typedef('VipParams')
	#param($name,'string','required=false')
	#param($address,'ip')
	#param($state,'string', 'in','required=false', 'defaultValue=disable', 'values=enable,disable')
	#param($service_params,'ServiceParams')
    #param($action, 'string', 'values=create,delete,update')
#end

#device($alteon, 'type=alteon', 'prompt=Alteon')
#param($app,'VipParams', 'in','required=true')
#param($output,'object','out')

#set($new_virt_name=[])
#set($exist_virt_name=[])
#set($output={})


#set($service = $app.service_params)
#####################################################
## virt configuration
#####################################################
#if($app.action == 'create' or $app.action == 'update')
    #verify_if_obj_exists($app)
    #if(!($exist_virt_name.contains($app.name)))
        #create_virt($app)
        #log('info',"This is new virt")
    #end
#elseif($app.action == 'update')
    #create_virt($app)
#else
    /c/slb/virt $app.name/del
#end

#set($dummy=$output.put('new_virt_name',$new_virt_name))
#set($dummy=$output.put('exist_virt_name',$exist_virt_name))

#macro(create_virt,$app)
    /c/slb/virt $app.name
        $app.state.substring(0, 3)
        vip $app.address
        #####################################################
        ## service configuration
        #####################################################
    /c/slb/virt $app.name/service $service.port $service.protocol
        group $service.group
        dbind $service.dbind

    #if($service.pip_address != '0.0.0.0')
        /c/slb/virt $app.name/service $service.port $service.protocol/pip
            mode address
            addr v4 $service.pip_address 255.255.255.255 persist disable
    #end
    #set($dummy=$new_virt_name.add($app.name))
#end
#macro(verify_if_obj_exists,$app)
    #set($existing = $alteon.readBean('SlbNewCfgEnhVirtualServerEntry', $app.name))
    #if($alteon.isNotEmpty($existing))
        #set($dummy=$exist_virt_name.add($app.name))
        #log('info',"Virt name $app.name already exsists in the system")
        ##error("Virt name $app.name already exsists in the system")
    #end
#end

